@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&family=Montserrat&family=Sacramento&display=swap');

body {
   
    text-align:center;
    font-family: 'Merriweather', serif;
    margin:auto;
    color:#40514E;

}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6.25rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
}

p {
    line-height: 2;
    font-weight:bold;
}

hr {
    width:5%;
    color: #bdc7c9;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
}

.middle-container {
    padding-top: 50px;
}

.profile {
    width: 20%;
    margin: 10px auto 100px auto;
    line-height: 2;
}

.top-container {
    position:relative;
    padding-top:100px;    
    background-color:#caf7e3;    
}


.top-cloud {
    position: absolute;
    top:40px;
    right:300px;
}

.bottom-cloud {
    position:absolute;
    bottom:300px;
    left:320px;
}

.mountain {
    position:relative;
  
}

.skill-photo {
    margin: 50px auto 100px auto;
    width:50%;
    text-align: left;
    line-height: 2;

}

.skill-t  {
    float:left;
    margin-right: 30px;
}

.skill-p {
    float:right;
    margin-left:30px;
    
}

.contact-me {
    margin:100px auto 50px auto;
}

.bottom-container {
    background-color:#66BFBF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright {
    color: #EAF6F6;
    font-weight: bold;
    font-size: 0.75rem;
}



.BUTTON_ADL {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 100;
    padding: 10px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
 }
 
 .BUTTON_ADL:hover {
    border: solid #11cdd4 1px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }